/* Reset browser */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* CSS Listing */
.container {
  width: 80%;
  margin: 20px auto;
}

.row {
  /* Cot nam tren 1 hang */
  display: flex;
  flex-wrap: wrap;
  margin: 0 -15px;
}

.col {
  padding-right: 15px;
  padding-left: 15px;
}

.col-4 {
  width: calc(100%/4);

}

.product-item {
  width: 100%;
  background-color: green;
}
.product-item img {
  width: 100%;
  height: 300px;
  object-fit: cover;
}

.product-item h3 {
  color: #fff;
  text-align: center;
  padding: 10px;
}